:root{
  --text-color: black;
  --background: white;
}

.dark-mode{
  --text-color: white;
  --background: rgb(49, 49, 49);
}

.container{
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background: var(--background);
}